1.1. Unpacking a Sequence into Separate Variables

Problem
You have an N-element tuple or sequence that you would like to unpack into a collection
of N variables

Solution

In [1]:
# for tupple
p = (1,2,3,4,5)

In [2]:
a,b,c,d,e = p

In [15]:
print(a, end = "\n")
print(b, end = "\n")
print(c, end = "\n")
print(d, end = "\n")
print(e, end = "\n")

1
2
3
4
5

In [16]:
# for sequence
name = ["Ken", "Chan", "Tom", "Erick"]
Ken,Chan,Tom,Erick = name

In [17]:
print(Ken, end = "\n")
print(Chan, end = "\n")
print(Tom, end = "\n")
print(Erick, end = "\n")

Ken
Chan
Tom
Erick

In [21]:
# for sequence with mix data structure
lis = ["p", ["t", "g"], ("l","y","z")]
p,[t,g], [l,y,z] = lis

In [22]:
print(p, end = "\n")
print(t, end = "\n")
print(g, end = "\n")
print(l, end = "\n")
print(y, end = "\n")
print(z, end = "\n")

p
t
g
l
y
z

1.2. Unpacking Elements from Iterables of Arbitrary
Length

Problem
You need to unpack N elements from an iterable, but the iterable may be longer than N
elements, causing a “too many values to unpack” exception.

In [24]:
lis1 = [1,2,3,4]

In [25]:
a,b,*c = lis1

In [26]:
print(a, end = "\n")
print(b, end = "\n")
print(c, end = "\n")

1
2
[3, 4]

In [35]:
# another Example, suppose the final grade is calculated by the highest three exam grades.
import numpy as np
grade = [50, 80, 75, 20, 77]
lowest, second_lowest, *highest_three = sorted(grade)
np.mean(highest_three)

77.33333333333333

1.3. Keeping the Last N Items

Problem
You want to keep a limited history of the last few items seen during iteration or during
some other kind of processing

1.4. Finding the Largest or Smallest N Items

Problem
You want to make a list of the largest or smallest N items in a collection.

In [42]:
# use heapq module
import heapq
lis = [58,75,2,5,1000,98,10383]
print(heapq.nlargest(2, lis), end = "\n")
print(heapq.nsmallest(3, lis), end = "\n")

[10383, 1000]
[2, 5, 58]

In [43]:
# for the example in problem 1.3 we can use heapq module instead of variable unpacking
grade = [50, 80, 75, 20, 77]
np.mean(heapq.nlargest(3, grade))

77.33333333333333

In [47]:
# for list of dict
grade = [{"name": "Tom", "score": 67}, {"name": "Mary", "score": 70}, {"name": "Chi", "score": 85}, {"name": "David", "score": 30}]
highest_two = heapq.nlargest(2, grade, key=lambda x: x["score"])
lowest_two = heapq.nsmallest(2, grade, key = lambda x: x["score"])
print(highest_two, end="\n")
print(lowest_two, end="\n")

[{'name': 'Chi', 'score': 85}, {'name': 'Mary', 'score': 70}]
[{'name': 'David', 'score': 30}, {'name': 'Tom', 'score': 67}]

1.5. Implementing a Priority Queue

Problem
You want to implement a queue that sorts items by a given priority and always returns
the item with the highest priority on each pop operation.

1.6. Mapping Keys to Multiple Values in a Dictionary

Problem
You want to make a dictionary that maps keys to more than one value (a so-called
“multidict”).

In [53]:
# simple way
dic = {"name": ["Kelvin", "Mary", "Albert"]}
dic2 = {"name": {"Kelvin", "Mary", "Albert"}}

In [54]:
# use dict if you want to preserve the value order, use set if you don't want any value duplicate.
dic["name"].append("Angie")
dic2["name"].add("Kelvin")
print(dic, end = "\n")
print(dic2, end = "\n")

{'name': ['Kelvin', 'Mary', 'Albert', 'Angie']}
{'name': {'Mary', 'Albert', 'Kelvin'}}

In [59]:
# use defaultdict
from collections import defaultdict
department = [("Kelvin", "Financial"), ("Mary", "HR"), ("Chi", "IT"), ("Tommy", "Financial"), ("Angie", "HR")]
d = defaultdict(list)
for name, dep in department:
    d[dep].append(name)
print(d)

defaultdict(<class 'list'>, {'Financial': ['Kelvin', 'Tommy'], 'HR': ['Mary', 'Angie'], 'IT': ['Chi']})

1.7. Keeping Dictionaries in Order

Problem
You want to create a dictionary, and you also want to control the order of items when
iterating or serializing.

In [2]:
# use OrderedDict
from collections import OrderedDict

d = OrderedDict()
d["Cherry"] = "red"
d["Lemon"] = "yellow"
d["Blue Berry"] = "Blue"
d["Grape"] = "Black"

In [3]:
d

OrderedDict([('Cherry', 'red'),
             ('Lemon', 'yellow'),
             ('Blue Berry', 'Blue'),
             ('Grape', 'Black')])

1.8. Calculating with Dictionaries

Problem
You want to perform various calculations (e.g., minimum value, maximum value, sorting,
etc.) on a dictionary of data.

In [7]:
dic = dict([("Tom", 75), ("Mary", 80), ("Ken", 90), ("Jean", 45)])

In [11]:
# get the maximum
list(max(zip(dic.values(), dic.keys())))

[90, 'Ken']

In [16]:
# alernative way
list(max((value, key) for key, value in dic.items()))

[90, 'Ken']

In [17]:
# get the minimum
list(min(zip(dic.values(), dic.keys())))

[45, 'Jean']

In [19]:
list(min((value, key) for key, value in dic.items()))

[45, 'Jean']

In [37]:
sorted(dic.items(), key=lambda x: x[1], reverse=True)

[('Ken', 90), ('Mary', 80), ('Tom', 75), ('Jean', 45)]

1.9. Finding Commonalities in Two Dictionaries

Problem
You have two dictionaries and want to find out what they might have in common (same
keys, same values, etc.).

In [40]:
a = {'x': 5 , "y": 18, "z": 25}
b = {'x': 5, "y": 59, "z": 25, "g":97}

In [47]:
# for match keys
a.keys() & b.keys()

{'x', 'y', 'z'}

In [51]:
# for match values
a.items() & b.items()

{('x', 5), ('z', 25)}

In [52]:
# make a dictionary with specific keys removed
{key:b[key] for key in b.keys() - {'z', 'g'}}

{'x': 5, 'y': 59}

1.10. Removing Duplicates from a Sequence while
Maintaining Order

Problem
You want to eliminate the duplicate values in a sequence, but preserve the order of the
remaining items.

In [56]:
l = [1,1,2,3,4,3,7,9,1]
def el(L):
    order = set()
    for i in L:
        if i not in order:
            order.add(i)
    return order

1.11. Naming a Slice

Problem
Your program has become an unreadable mess of hardcoded slice indices and you want
to clean it up.

In [60]:
string = "......edwed..wed.w......Kevin...89y6389thenfio...1/2/2018*()))dsjckjn"

In [64]:
print(string.find("K"), end="\n")
print(string.find("1"), end="\n")

24
49

In [66]:
name = slice(24,29)
date = slice(49,57)

In [69]:
print(string[name], end='\n')
print(string[date], end="\n")

Kevin
1/2/2018

1.12. Determining the Most Frequently Occurring Items in
a Sequence

Problem
You have a sequence of items, and you’d like to determine the most frequently occurring
items in the sequence.

In [70]:
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

In [81]:
from collections import Counter
from operator import itemgetter
count = Counter(words)
count

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [98]:
max(zip(count.values(), count.keys()))

(8, 'eyes')

In [84]:
# use counter.most_common()
count.most_common(1)

[('eyes', 8)]

1.13. Sorting a List of Dictionaries by a Common Key

Problem
You have a list of dictionaries and you would like to sort the entries according to one
or more of the dictionary values.

In [99]:
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [101]:
# sort by one value
from operator import itemgetter
sorted(rows, key=itemgetter('fname'))

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [102]:
# sort by two value
sorted(rows, key=itemgetter('fname', 'lname'))

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [103]:
max(rows, key=itemgetter('uid'))

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

In [105]:
min(rows, key=itemgetter('uid'))

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

1.15. Grouping Records Together Based on a Field

Problem
You have a sequence of dictionaries or instances and you want to iterate over the data
in groups based on the value of a particular field, such as date.

In [112]:
from itertools import groupby
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [113]:
rows.sort(key=itemgetter('date'))

In [118]:
for date, items in groupby(rows, key=itemgetter('date')):
    print("-"*60)
    print(date)
    for item in items:
        print(item)

------------------------------------------------------------
07/01/2012
{'address': '5412 N CLARK', 'date': '07/01/2012'}
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}
------------------------------------------------------------
07/02/2012
{'address': '5800 E 58TH', 'date': '07/02/2012'}
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
{'address': '1060 W ADDISON', 'date': '07/02/2012'}
------------------------------------------------------------
07/03/2012
{'address': '2122 N CLARK', 'date': '07/03/2012'}
------------------------------------------------------------
07/04/2012
{'address': '5148 N CLARK', 'date': '07/04/2012'}
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

1.16. Filtering Sequence Elements

Problem
You have data inside of a sequence, and need to extract values or reduce the sequence
using some criteria.

In [119]:
a = [-19, 20, 98, -6, 7, -21]

In [120]:
# filter all the elements that is less than 0
# use list comprehension
[n for n in a if n < 0]

[-19, -6, -21]

In [121]:
[n for n in a if n > 0]

[20, 98, 7]

In [122]:
# use filter
list(filter(lambda x: x < 0, a))

[-19, -6, -21]

In [123]:
list(filter(lambda x: x > 0, a))

[20, 98, 7]

In [125]:
# using specific function
b = ["1", "&", "a", "6", "-98"]

def st_num(n):
    try:
        int(n)
        return True
    except ValueError:
        return False

list(filter(st_num, b))

['1', '6', '-98']

In [126]:
# using function to element by filter it first by specific condition
[n * n for n in a if n < 0]

[361, 36, 441]

In [127]:
[n * n for n in a if n > 0]

[400, 9604, 49]

In [128]:
# substitute different value by specific condition
[n if n > 0 else "No" for n in a]

['No', 20, 98, 'No', 7, 'No']

In [129]:
[n if n < 0 else "No" for n in a]

[-19, 'No', 'No', -6, 'No', -21]

In [137]:
# use compress
import random 
import collections
c = []
for n in range(5):
    c.append("cat")
for n in range(3):
    c.append("dog")
for n in range(10):
    c.append("swan")
for n in range(7):
    c.append("crow")
c.append("horse")
random.shuffle(c)
count = collections.Counter(c)
count

Counter({'cat': 5, 'crow': 7, 'dog': 3, 'horse': 1, 'swan': 10})

In [138]:
from itertools import compress
count.values()

dict_values([1, 3, 10, 7, 5])

In [141]:
count.keys()

dict_keys(['horse', 'dog', 'swan', 'crow', 'cat'])

In [144]:
condition = [n >= 5 for n in count.values()]

[False, False, True, True, True]

In [145]:
list(compress(count.keys(), condition))

['swan', 'crow', 'cat']

In [148]:
# alternative way
list({key:value for key, value in count.items() if value >=5})

['swan', 'crow', 'cat']

1.17. Extracting a Subset of a Dictionary

Problem
You want to make a dictionary that is a subset of another dictionary.

In [151]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

In [152]:
# make a subset of dict from the original dict with condiction
{key:value for key, value in prices.items() if value > 200}

{'AAPL': 612.78, 'IBM': 205.55}

In [153]:
#  use set as a filter condition
stock = {"ACME", "IBM", "FB"}
{key:value for key, value in prices.items() if key in stock}

{'ACME': 45.23, 'FB': 10.75, 'IBM': 205.55}

In [156]:
valu = {45.23, 612.78, 37.20}
{key:value for key, value in prices.items() if value in valu}

{'AAPL': 612.78, 'ACME': 45.23, 'HPQ': 37.2}

In [158]:
# Transform a tuple to a dict
dict((key, value) for key, value in prices.items() if value > 200)

{'AAPL': 612.78, 'IBM': 205.55}

In [160]:
# alternative way
{key:prices[key] for key in prices.keys() if key in stock}

{'ACME': 45.23, 'FB': 10.75, 'IBM': 205.55}

In [163]:
{key:prices[key] for key in prices.keys() & stock}

{'ACME': 45.23, 'FB': 10.75, 'IBM': 205.55}

1.18. Mapping Names to Sequence Elements

Problem
You have code that accesses list or tuple elements by position, but this makes the code
somewhat difficult to read at times. You’d also like to be less dependent on position in
the structure, by accessing the elements by name

In [166]:
# use namedtuple
from collections import namedtuple
person = namedtuple("person", ["name", "age", "occupation"])
Peter = person("Peter", "25", "Engineer")
Peter

person(name='Peter', age='25', occupation='Engineer')

In [167]:
Peter.name

'Peter'

In [168]:
Peter.age

'25'

In [169]:
Peter.occupation

'Engineer'

In [170]:
type(Peter)

__main__.person

In [174]:
# practical differences between namedtuple and tuple
# original tuple = (name, shares, prices)
stock = [("FB", 100, 150), ("IBM", 200, 200)]
def total_cost(L):
    result = {}
    total = 0.0
    for stock in L:
        total = stock[1] * stock[2]
        result[stock[0]] = total
    return result

total_cost(stock)

{'FB': 15000, 'IBM': 40000}

In [189]:
# but what if I concatenate another tuple to the original tuple?
# (person who buy, name, shares, prices)
stock = [("Peter","FB", 100, 150), ("Mary","IBM", 200, 200)]
stock

[('Peter', 'FB', 100, 150), ('Mary', 'IBM', 200, 200)]

In [190]:
total_cost(stock)

{'Mary': 'IBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBMIBM',
 'Peter': 'FBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFBFB'}

In [197]:
# the above function won't work as the way it was intended because the total vaiable is based on the position of element inside the tuple.
# but if we use name tuple
stock = namedtuple("stock", ["person", "name", "shares", "price"])
FB = stock("Peter", "FB", 100, 150)
IBM = stock("Mary", "IBM", 200, 200)
a = [FB, IBM]
a

[stock(person='Peter', name='FB', shares=100, price=150),
 stock(person='Mary', name='IBM', shares=200, price=200)]

In [198]:
def total_cost2(L):
    result = {}
    total = 0.0
    for stock in L:
        total = stock.shares * stock.price
        result[stock.name] = total
    return result

total_cost2(a)

{'FB': 15000, 'IBM': 40000}

In [201]:
# one can also use namedtuple as a input holder
stock = namedtuple("stock", ["name", "shares", "price", "date", "time"])
empty_stock = stock("", 0, 0.0, None, None)
empty_stock

stock(name='', shares=0, price=0.0, date=None, time=None)

In [203]:
def input_stock(T, I):
    return T._replace(**I)

input_stock(empty_stock, {"name": "ACME", "shares": 100, "price": 123.25, "date": '12/15/2016'})

stock(name='ACME', shares=100, price=123.25, date='12/15/2016', time=None)

1.19. Transforming and Reducing Data at the Same Time

Problem
You need to execute a reduction function (e.g., sum(), min(), max()), but first need to
transform or filter the data.

In [207]:
import numpy as np
a = np.random.randint(100, size = 10)
a

array([97, 79, 81, 87, 17, 10, 80, 40, 78, 30])

In [208]:
sum(n for n in a if n > 80)

265

In [210]:
# for list of dict
portfolio = [
{'name':'GOOG', 'shares': 50},
{'name':'YHOO', 'shares': 75},
{'name':'AOL', 'shares': 20},
{'name':'SCOX', 'shares': 65}
]

In [211]:
portfolio

[{'name': 'GOOG', 'shares': 50},
 {'name': 'YHOO', 'shares': 75},
 {'name': 'AOL', 'shares': 20},
 {'name': 'SCOX', 'shares': 65}]

In [213]:
# generate the whole dict with condition
min(portfolio, key=itemgetter("shares"))

{'name': 'AOL', 'shares': 20}

In [214]:
# just generate the value
min(x["shares"] for x in portfolio)

20

1.20. Combining Multiple Mappings into a Single
Mapping

Problem
You have multiple dictionaries or mappings that you want to logically combine into a
single mapping to perform certain operations, such as looking up values or checking
for the existence of keys.

In [218]:
# suppose I have two dict
a = dict([("a", 5), ("b", 8)])
b = dict([("b", 10), ("c", 15)])

In [219]:
c = collections.ChainMap(b,a)

In [223]:
list(c.keys())

['b', 'a', 'c']

In [224]:
list(c.values())

[10, 5, 15]